.nav-box {
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  font-size: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  left: 25px;
  top: 25px;
  z-index: 999;
  max-width: 350px;
  height: 35px;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 3pt;
  padding: 0 25px 0 10px;
  cursor: pointer;
}

.nav-box-open {
  border-bottom: 1px solid white !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.nav-carot::after {
  content: "▼";
  font-size: 0.8em;
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  left: 25px;
  top: 60px;
  z-index: 999;
  background-color: lightgrey;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 3pt;
  border-bottom-right-radius: 3pt;
  padding: 10px 25px 10px 10px;
}

p, li {
  font-size: calc(10px + 2vw) !important;
}